<section class="about" id="about-info">
	<h2>About</h2>
	<div class="container">
		<div class="row">
			<div class="col-1-of-2">
				<p>Hello</p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam amet culpa deserunt distinctio ducimus error et harum hic iusto nam nesciunt, officiis quaerat, quo saepe, tempora ut vero voluptas!
			</div>
			<div class="col-1-of-2">
				<p>Hi</p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis consectetur culpa ea eligendi eos est maiores quisquam rem sint, suscipit tempora temporibus velit. Ad dignissimos nihil nulla saepe unde!
			</div>
		</div>
		<div class="row">
			<p>Heya</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt molestiae porro quae rerum vitae? A accusantium architecto assumenda consequuntur cupiditate magni minus, odio placeat quaerat reiciendis tempore ullam vel velit!
		</div>
		<div class="row">
			<p>Last</p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque eligendi est eveniet labore modi obcaecati porro quas rem vero? Amet architecto asperiores beatae consectetur deserunt, facilis odio quibusdam quidem.
		</div>
	</div>
</section>
